body {
    /* text-align: center; */
    margin: 0;
    font-family: Arial;
    font-size: 20px;
}

h1 {
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

h3 {
    font-family: 'Exo', sans-serif;
    text-align: center;
    font-size: 30px;
}

h4 {
    font-size: 25px;
    font-family: 'Hubballi', cursive;
}

.top-container {
    text-align: center;
    /* position: relative; */
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #9BA3EB;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Poppins', sans-serif;
    color: white;
}

.top-cloud {
    position: absolute;
    right: 400px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
}

.hacker-img {
    position: relative;
    top: 50px;
}

.middle-container {
    padding: 10px 0;
    margin-top: -40px;
    color: #242F9B;
}

.education {
    margin: 0;
    text-align: center;
    background-color: #DBDFFD;
    /* padding-bottom: 20px; */
    padding: 20px 0;
    /* background-image: url(/Images/hacker.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgb(175, 171, 247), rgb(211, 246, 163));
}

#kv-img {
    height: 200px;
    width: 200px;
    margin: 50px auto;
    /* border-radius: 50px; */
    position: relative;
    left: 200px;
}

#ait-img {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    border-radius: 50px;
    position: relative;
    right: 200px;
}

.education p {
    margin-top: -10px;
    margin-bottom: 0;
}

.hsc {
    position: relative;
    left: 200px;
    display: inline-block;
}

.ssc {
    position: relative;
    left: 200px;
    display: inline-block;
}

.ait {
    position: relative;
    right: 200px;
}

.additional-skills {
    text-align: center;
    background-color: #E3FCBF;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #14C38E;
    position: relative;
}

.responsibility {
    text-align: center;
    background-color: #7FB5FF;
    padding: 10px 0;
    position: relative;
    height: 30vw;
}

.basic-knowledge {
    position: absolute;
    bottom: 20px;
    left: 200px;
}

.tools {
    position: absolute;
    bottom: 20px;
    right: 200px;
}

#skill-img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20px;
    right: 500px;
}